/* button {
    background-color: #007bff; /* Normal button background */
    /* color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }  */
  
  /* button:hover {
    background-color: #0056b3; Darker shade on hover */
  /* }
  
  button:disabled {
    cursor: not-allowed; Disabled cursor */
  /* } */
  
  /* .disabled-button {
    background-color: #d3d3d3; Lightened color for disabled button */
    /* color: #808080; Dimmed text color */
  /* } */
  



  